body{
background-color: aqua;
}
div p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
display: inline-block;
padding: 1px ;
background-color: darkturquoise;
}
img {
height: 200px;
}
h3{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}